
body {
  margin: 0;
  background: #282828;
  color: #eee;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 14px;
  text-align: center;
}

p {
  margin: 0;
  line-height: 1.5;
  font-weight: 200;
}

a {
  color: #00aaee;
  text-decoration: none;
}

a:hover {
  color: #0077a2;
  text-decoration: underline;
}

.hide {
  display: none;
}

.decal {
  height: 2px;
  background-color: #000;
  border-bottom: 1px solid #333;
}

.container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

/* EFFECTS
***************/

.glow {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transition: text-shadow 1s linear;
       -moz-transition: text-shadow 1s linear;
         -o-transition: text-shadow 1s linear;
            transition: text-shadow 1s linear;
}

.glow.in {
  text-shadow: 
    0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8),
    0 0 0.5em rgba(255, 255, 255, 0.3);
}

.fade {
  opacity: 0;
    -webkit-transition: opacity 1s linear;
       -moz-transition: opacity 1s linear;
         -o-transition: opacity 1s linear;
            transition: opacity 1s linear;
}

.fade.in {
  opacity: 1;
}


/* MARKETING
***************/

.jumbotron {
  position: relative;
  padding: 3em 0;
  text-align: center;
  background: #242424;
}

.jumbotron h1 {
  color: #fff;
  font-family: Rokkitt;
  font-weight: 200;
  text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8);
  visibility: hidden;
}

.jumbotron h1 .char11 {
  color: #ED303C;
}

.jumbotron p {
  margin-top: -1em;
  letter-spacing: 0.15em;
  color: #ccc;
  font-weight: 100;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.8);
  visibility: hidden;
  text-align: center;
}

.playground {
  background: #242424;
  border-radius: 4px;
  border: 1px solid #333;
  margin-bottom: 10px;
}

.playground .controls {
  margin-bottom: 0;
  background: #282828;
  border-radius: 0 0 4px 4px;
  border: 1px solid #0c0c0c;
  border-top: 1px solid #333;
}

.playground .controls form {
  margin-bottom: 0;
  padding-bottom: 8px;
}

.playground .controls select {
  width: 48%;
  margin-right: 4px;
}

@media (max-width: 480px) {
  .playground .controls select {
    width: 100%;
    margin-right: 0;
  }
}

.playground .viewport .tlt {
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 20px 0;
  display: inline-block;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  /*visibility: hidden;*/
}

@media (max-width: 767px) {
  [class*='col-'] {
    width: 100%;
  }
}

